<div class="mapped-candidates-wrapper">
    <div class="container-fluid">
        <button class="btn primary-btn map-candidate-btn" (click)="mapCandidate()"><i class="fa fa-plus"></i> Map Candidate</button>
        <app-grid [colDef]="gridColDef" [rowData]="gridRowData" [config]="gridConfig" *ngIf="gridColDef && !isError"></app-grid>
        <div class="row" *ngIf="isError">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-danger" role="alert" style="font-size: 12px; text-align: center;">
                    {{errorMsg}}
                </div>
            </div>
        </div>
    </div>
</div>