<mat-toolbar>
<span class="hide-gt-lg">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</span>
  <span>
    <a
      class="nav-link"
      routerLink="calendar"
      id="industriesDropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg"
        class="navbar-image"
        alt="Accolite Digital Logo"
      /> </a
  ></span>
  <span class="spacer"></span>
  <span>
    <a
      class="nav-link"
      routerLink="dashboard"
      routerLinkActive="active"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      >Dashboard</a
    >
  </span>
  <span class="spacer"></span>
  <span>
    <a
      class="nav-link"
      routerLink="calendar"
      routerLinkActive="active"
      id="industriesDropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      >Calendar</a
    >
  </span>
  <span class="spacer"></span>
  <button
    mat-button
    class="icon"
    aria-label="Example icon-button with share icon"
    (click)="logout()"
  >
    Logout
    <img
      [src]="user.photoUrl"
      class="rounded-circle"
      style="height: 30px; width: 30px"
      *ngIf="loggedIn()"
    />
    <i class="fa fa-user-circle" aria-hidden="true" *ngIf="!loggedIn()"></i>
  </button>
</mat-toolbar>

<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
