<div class="title-bar">
    <div class="row">
        <div class="col-md-1">
            <img [src]="imageSrc" class="rounded">
        </div>
        <div class="col-md-10" style="padding-top: 8px; padding-left: 20px;">
            <p class="title">{{selectedRow$.title}}
                <span>({{selectedRow$.positionId}})</span>
                <span class="priority critical" 
                    [ngClass]="{'critical': selectedRow$.priority === 'Critical',
                        'high': selectedRow$.priority === 'High', 'medium': selectedRow$.priority === 'Medium',
                        'low': selectedRow$.priority === 'Low'}">
                    {{selectedRow$.priority}}
                </span>
            </p>
            <span *ngFor="let skill of selectedRow$.skills">
                <app-pill [value]='skill'></app-pill>
            </span>
        </div>
        <div class="col-md-1">
            <span class="float-end" style="background-color: green; padding: 7px; color: #fff; border-radius: 0px; padding-left: 15px; padding-right: 15px; font-size: 11px;">{{selectedRow$.status}}</span>
            <button class="btn btn-warning float-end" style="text-align: center; margin-top: 10px; padding: 4px 5px 2px 7px; font-size: 10px;" (click)="editPosition()"><i class="fa fa-edit"></i></button>
        </div>
    </div>
</div>