<div class="container-fluid section first-section-color">
  <div class="container text-center text-black">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile colspan="1" rowspan="2">
        <mat-card class="tile">
          <create-interview></create-interview>
        </mat-card>
      </mat-grid-tile>

      <a routerLink="/dashboard/all-interviews">
        <mat-grid-tile colspan="1" rowspan="2">
          <button class="big-tile text-center">
            <span class="big-btn">
              Interviews
              <mat-icon class="tile-icon" style="position: sticky"
                >list</mat-icon
              ></span
            >
          </button>
        </mat-grid-tile>
      </a>

      <mat-grid-tile colspan="1" rowspan="6">
        <div class="tile">
          <interview-overview></interview-overview>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
