<div class="container-fluid section first-section-color">
  <h2 class="text-black font-weight-bold text-center">
    Recruiter Dashboard
    <br />
  </h2>

  <div class="col-3 mt-3 mx-auto orange-border"></div>
  
  <div class="container text-center text-black">
    <div class="col-12 col-md-12 mx-auto mt-3">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 my-3">
          <a routerLink="/calendar">
            <div class="blog-widget">
              <div
                class="col-lg-12 thumbnail-img"
                data-aos="fade-left"
                data-aos-delay="100"
                style="
                  background-image: url(../../../assets/images/calendarBG.png);
                  background-size: cover;
                  background-position: center;
                "
              ></div>
              <div class="blog-content">
                <button
                  type="button"
                  class="view-here-btn text-lefttext-black"
                  routerLink="calendar"
                  routerLinkActive="active"
                >
                  <h5>
                    Calendar
                    <i
                      class="fa fa-arrow-right"
                      style="
                        font-size: 18px;
                        padding-top: 8px;
                        padding-right: 7px;
                      "
                    ></i>
                  </h5>
                </button>
              </div>
            </div>
          </a>
        </div>
        <br>
        <create-interview></create-interview><br>

        <a routerLink="/dashboard/all-interviews">
          <div class="blog-widget">
            <div
              class="col-lg-12 thumbnail-img"
              data-aos="fade-left"
              data-aos-delay="100"
              style="
                background-image: url(../../../assets/images/calendarBG.png);
                background-size: cover;
                background-position: center;
              "
            ></div>
            <div class="blog-content">
              <button
                type="button"
                class="view-here-btn text-lefttext-black"
              >
                <h5>
                  All Interviews
                  <i
                    class="fa fa-arrow-right"
                    style="
                      font-size: 18px;
                      padding-top: 8px;
                      padding-right: 7px;
                    "
                  ></i>
                </h5>
              </button>
            </div>
          </div>
        </a>

        <div style="width: 100%; text-align: center; padding-top: 10px">
          <a class="animated-arrow" href="https://www.accolite.com/insights">
            <span class="the-arrow -left">
              <span class="shaft"></span>
            </span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

