<div class="container-fluid section first-section-color">
  <h2 class="text-black font-weight-bold text-center">
    Recruiter Dashboard
    <br />
  </h2>

  <div class="col-3 mt-3 mx-auto orange-border"></div>

  <br />

  <div class="container text-center text-black">
    <div class="col-12 col-md-12 mx-auto mt-3">

      <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile
          colspan="1"
          rowspan="6">
          <div class="tile">
            <interview-overview></interview-overview>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <mat-card class="tile">
            <create-interview></create-interview>
          </mat-card>
        </mat-grid-tile>

        <a routerLink="/dashboard/all-interviews">
          <mat-grid-tile colspan="3" rowspan="2">
            <button class="big-tile">
              All Interviews
              <!-- <i
                class="fa fa-arrow-right"
                style="font-size: 18px; padding-top: 8px; padding-right: 7px"
              ></i> -->
              <mat-icon class="tile-icon">list</mat-icon>
            </button>
          </mat-grid-tile>
        </a>
        
        <a routerLink="/dashboard/completed-interviews">
          <mat-grid-tile
            data-aos="fade-center"
            data-aos-delay="100"
            colspan="3"
            rowspan="2"
          >
            <button class="big-tile">
              Completed Interviews <mat-icon class="tile-icon">done_outline</mat-icon>
            </button>
          </mat-grid-tile>
        </a>

      </mat-grid-list>
    </div>
  </div>
</div>
