<h2>Interviews</h2>
<div class="col-12 mt-3 mx-auto orange-border">
  <ul class="interviews">
    <li *ngFor="let interview of interviews">
      {{interview.interviewer_ids}}> Start: {{interview.start_time | stringTime}} End: {{interview.end_time}} Date {{interview.date}}
      <button 
        type="button" title="None" (click)="print(interview)"
        class="view-here-btn text-lefttext-black col-lg-2 col-md-4 col-6 mb-5 mb-lg-0 mx-auto d-inline-block" 
      >
        View
      </button>
    </li>
  </ul>
</div>