<!-- <div class="header-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 logo-wrapper">
                <img src="../../../assets/images/logo-sm.svg" (click)="navigateHome()" />
                <span class="app-title" (click)="navigateHome()">Solid-Octo-Disco</span>
                <p class="thumbnail" (click)="navigateHome()">Requirements and Fullfilment Tracker</p>
            </div>
            <div class="col-md-1" *ngIf="isHeader">
                <span class="menu" (click)="onMenuChange('dashboard')" [ngClass]="getSelectedClass('dashboard')">Dashboard</span>
            </div>
            <div class="col-md-1" *ngIf="isHeader">
                <span class="menu" (click)="onMenuChange('calendar')" [ngClass]="getSelectedClass('calendar')">Calendar</span>
            </div>
            <div class="btn-group col-md-1" dropdown placement="bottom left" *ngIf="isHeader">
                <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle float-end"
                    aria-controls="dropdown-animated">
                    <img [src]="user.photoUrl" class="rounded-circle" *ngIf="user">
                    <i class="fa fa-user-circle" aria-hidden="true" *ngIf="!user"></i>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                    <li role="menuitem" style="cursor: pointer;">
                        <span class="dropdown-item" *ngIf="user" style="padding-left: 70px;">
                            <img [src]="user.photoUrl" class="rounded-circle" style="height: 30px;">
                            <p style="margin-left: -35px;">{{user.name}}</p>
                        </span>
                        <span class="dropdown-item" style="display: grid;">
                            <button class="btn primary-btn" (click)="logout()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid"> -->

<div class="header-main">
  <div class="row" style="width: 100%">
    <nav
      class="navbar px-3 px-lg-0 navbar-expand-lg py-3 py-lg-3 col-md-9 logo-wrapper"
    >
      <a class="navbar-brand pl-4" href="/">
        <img
          src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg"
          class="navbar-image"
          alt="Accolite Digital Logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars text-black w-20"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isHeader">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="dashboard"
              routerLinkActive="active"
              id="industriesDropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Dashboard</a
            >
            <span
              class="menu"
              (click)="onMenuChange('dashboard')"
              [ngClass]="getSelectedClass('dashboard')"
            ></span>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isHeader">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="calendar"
              routerLinkActive="active"
              id="industriesDropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Calendar</a
            >
          </li>
        </ul>
      </div>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        dropdown
        placement="bottom left"
        *ngIf="isHeader"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <button
              button
              id="button-animated"
              dropdownToggle
              type="button"
              class="btn dropdown-toggle float-end"
              aria-controls="dropdown-animated"
              style="width: 60px"
            >
              <img
                [src]="user.photoUrl"
                class="rounded-circle"
                style="height: 30px; width: 30px"
                *ngIf="user"
              />
              <i class="fa fa-user-circle" aria-hidden="true" *ngIf="!user"></i>
            </button>
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-animated"
            >
              <li role="menuitem" style="cursor: pointer">
                <span
                  class="dropdown-item"
                  *ngIf="user"
                  style="padding-left: 50px"
                >
                  <img
                    [src]="user.photoUrl"
                    class="rounded-circle"
                    style="height: 30px"
                  />
                  <p style="margin-left: -15px">{{ user.name }}</p>
                </span>
                <span class="dropdown-item" style="display: grid">
                  <button class="btn primary-btn" (click)="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                  </button>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isHeader">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="calendar"
          id="industriesDropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Calendar</a
        >
      </li>
    </ul>
  </div>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    dropdown
    placement="bottom left"
    *ngIf="isHeader"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <button
          button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn dropdown-toggle float-end"
          aria-controls="dropdown-animated"
          style="width: 60px"
        >
          <img
            [src]="user.photoUrl"
            class="rounded-circle"
            style="height: 30px; width: 30px"
            *ngIf="user"
          />
          <i class="fa fa-user-circle" aria-hidden="true" *ngIf="!user"></i>
        </button>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem" style="cursor: pointer">
            <span class="dropdown-item" *ngIf="user" style="padding-left: 50px">
              <img
                [src]="user.photoUrl"
                class="rounded-circle"
                style="height: 30px"
              />
              <p style="margin-left: -15px">{{ user.name }}</p>
            </span>
            <span class="dropdown-item" style="display: grid">
              <button class="btn primary-btn" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </button>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
