<button type="button" class="btn btn-org" (click)="openModal(form)">Add Availability</button>

<ng-template #form>
<form 
  [formGroup]="createAvailabilityForm"
  (ngSubmit)="onSubmit(createAvailabilityForm)" 
  class="md-form" 
  style="color: black;"
>

  <div class="modal-header" style="padding: 10%; width: 100%; color: black; background-color: orange;">
    <h5>
      <strong>Add Availability</strong>
    </h5>
  </div>
  
  <div class="card" style="size: 1000px;">
    <div class="row">
      <div class="col-md-6">
        <label for="startTime">Start Time</label>
        <timepicker   id="startTime" type="time" formControlName="startTime"></timepicker>
      </div>
      <div class="col-md-6">
        <label for="endTime">End Time</label>
        <timepicker id="endTime"  type="time" formControlName="endTime"></timepicker>
      </div>
    </div>

    <br>

    <div class="row">
      <label for="dateRange">Date range</label>
      <div class="col-md-3">
        <input 
          id="dateRange" 
          #dp
          placeholder="Select Date(s)"
          formControlName="dateRange"
          bsDaterangepicker
          [bsConfig]="{ containerClass: 'theme-orange'  }"
          >
      </div>
    </div>
    
  </div>

  <div class="modal-footer">
    <button 
      type="submit" 
      class="btn btn-org" 
      [disabled]="!createAvailabilityForm.valid" 
      (click)="this.modalRef?.hide()"
    >
      Submit
    </button>
  </div>
</form>
</ng-template>
