<button type="button" class="btn btn-primary" (click)="openModal(form)">Form</button>

<ng-template #form>
<form [formGroup]="createAvailabilityForm" (ngSubmit)="onSubmit(createAvailabilityForm)" class="md-form" style="color: #757575;">
  <div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add Availability</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

   
        <h6>Time Slot</h6>
    
        <label for="startTime">Start Time</label>
        <input id="start-time" type='time' formControlName="startTime">
    
        <label for="endTime">End Time</label>
        <input id="end-time" type='time' formControlName="endTime">
      <div>
        <h6>Date</h6> 
    
        <label for="date">Date</label>
        <input id="date" type='date' formControlName="date">
      </div>

   
    </div>
  </div>
  <button 
    mdbBtn color="primary" 
    type="submit" 
    id="submit"
    name="submit"
    data-dismiss="modal" 
    [disabled]="!createAvailabilityForm.valid">
      Save
    </button>
</form>
</ng-template>
