<a><i class="fa fa-close" data-dismiss="modal" #closeBtn></i></a>

<div mat-dialog-title>
  <h2 *ngIf="availability.length > 0">
    {{ availability[0].start | date }}
  </h2>
  <h2 *ngIf="availability.length === 0">
    {{ interviews[0].start | date }}
  </h2>
</div>

<div mat-dialog-content>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab *ngIf="availability.length > 0" label="Availability">
      <table
        style="width: 100%"
        mat-table
        class="availability-table mat-elevation-z8"
        [dataSource]="aTable"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="AvailabilityId">
          <th mat-header-cell *matHeaderCellDef>ID No.</th>
          <td mat-cell *matCellDef="let availability">{{ availability.id }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let availability">
            {{ availability.start | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let availability">
            {{ availability.start | DateToTimePipe }} -
            {{ availability.end | DateToTimePipe }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let availability">
            {{ availability.interviewer }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let availability">
            <div>
              <button
                class="btn btn-warning"
                (click)="onDelete(availability.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let availability"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="interview-expanded"
              [@detailExpand]="
                availability == expandedAvailability ? 'expanded' : 'collapsed'
              "
            >
              <div class="container row">
                <div class="col-1">
                  <button mat-stroked-button (click)="message('click')">
                    Update
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let availability; columns: displayedColumns"
          class="example-element-row"
        ></tr>
      </table>
      <mat-paginator
        #aPaginator
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
        aria-label="Select page of availability"
      >
      </mat-paginator>
    </mat-tab>
    <mat-tab *ngIf="interviews.length > 0" label="Interviews">
      <table
        style="width: 100%"
        mat-table
        class="interview-table mat-elevation-z8"
        [dataSource]="iTable"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="InterviewId">
          <th mat-header-cell *matHeaderCellDef>ID No.</th>
          <td mat-cell *matCellDef="let interview">{{ interview.id }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let interview">
            {{ interview.start | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let interview">
            {{ interview.start | DateToTimePipe }} -
            {{ interview.end | DateToTimePipe }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let interview">
            {{ interview.meta.interviewPanel }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let interview">
            <div>
              <button class="btn btn-warning" (click)="onDelete(interview.id)">
                Delete
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let interview"
            [attr.colspan]="iDisplayedColumns.length"
          >
            <div
              class="interview-expanded"
              [@detailExpand]="
                interview == expandedInterview ? 'expanded' : 'collapsed'
              "
            >
              <div class="container row">
                <div class="col-1">
                  <button mat-stroked-button (click)="message('click')">
                    Update
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="iDisplayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let interview; columns: iDisplayedColumns"
          class="example-element-row"
        ></tr>
      </table>
      <mat-paginator
        #iPaginator
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
        aria-label="Select page of interviews"
      >
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>
