<div *ngIf="availability.length > 0">
  <div
    class="card-header info-color white-text text-center py-4"
    style="width: 100%; color: black; background-color: orange"
  >
    <h5>{{ availability[0].start | date }} availability.</h5>
  </div>
  <div class="row padded">
    <div class="card" id="availabilityOutput">
      <div *ngFor="let slot of availability">
        {{ slot.start | date: "HH:mm" }} =>
        {{ slot?.end | date: "HH:mm" }}
        <button class="btn btn-warning" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="interviews.length > 0">
  <div
    class="card-header info-color white-text text-center py-4"
    style="width: 100%; color: black; background-color: orange"
  >
    <h5>{{ interviews[0].start | date }} interviews.</h5>
  </div>
  <div class="modal-body padded" id="interviewOutput">
    <div class="container-fluid">
      <div class="row" *ngFor="let slot of interviews">
        <div class="col-sm-3">
          {{ slot.start | date: "HH:mm" }} =>
          {{ slot?.end | date: "HH:mm" }}
        </div>
        <div class="col-sm-3">
          Status: {{ slot.meta.interviewStatus?.toString() }}
        </div>
        <div class="col-sm-6">
          <interview-status [slot]="slot"></interview-status>
        </div>
      </div>
    </div>
  </div>
</div>
