.interview-table {
  padding: 5%;
  width: 100%;
}

.mat-column-interview_id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-interviewers {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-date {
  padding-left: 16px;
  font-size: 16px;
  font-style: italic;
}

.mat-column-start_time {
  padding-left: 16px;
  font-size: 16px;
  font-style: italic;
}

.mat-column-status {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

