<availability-form (event)="setFormData($event)"></availability-form>

<!-- <div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Add Availability</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">

      <form class="md-form" style="color: #757575;">



          <label for="input">Time </label>
          <input type="text" id="input" class="form-control" placeholder="">

          <label for="input">Date(s)</label>
          <input type="text" id="input" class="form-control" placeholder="">


          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Save</button>

      </form>
  </div>
</div> -->