.bg-grey {
  background-color: #bbbbbb;
}

.modal-org {
  color: #000000;
  background-color: #f4511e;
}

.padded {
  padding: 25px;
}

.btn-org {
  color: #000000;
  background-color: #f4511e;
}

.logo {
  font-size: 200px;
}

.logo-med {
  font-size: 80px;
}

.logo-small {
  font-size: 40px;
} 

::ng-deep.bs-datepicker-theming {
  background-color: #f4511e;
  
}