<div>
    <button class="btn btn-primary float-start"
        style="height: 18px; font-size: 8px; padding-top: 2px; padding-left: 5px; padding-right: 5px; margin-top: 11px; margin-right: 7px"
        (click)='openCandidateAuditTrail()'>
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <span>
        <!-- <a target="_blank" [href]="link" tooltip="Please click to see turbohire details" container="body" placement="top" containerClass="raft-tooltip">{{name}}</a> -->
        {{name}}
    </span>
</div>