<div class="row justify-content-center">
  <button
    mat-raised-button
    type="button"
    class="main-button"
    (click)="openDialog(dialog)"
  >
    Add Availability
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #dialog>
  <mat-tab-group
    mat-stretch-tabs
    color="primary"
    backgroundColor="accent"
    (selectedTabChange)="tabChange($event)"
  >
    <mat-tab label="Selection">
      <form [formGroup]="multiDayForm" class="md-form" style="color: black">
        <div class="container text-center text-black pt-4 mt-4">
          <div class="row">
            <div class="col-md-6">
              <label for="startTime">Start Time</label>
              <timepicker
                id="startTime1"
                type="time"
                formControlName="startTime"
              ></timepicker>
            </div>
            <div class="col-md-6">
              <label for="endTime">End Time</label>
              <timepicker
                id="endTime1"
                type="time"
                formControlName="endTime"
              ></timepicker>
            </div>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Select Occurences</mat-label>
            <mat-hint>Number</mat-hint>
            <input
              type="number"
              matInput
              name="weeks"
              placeholder="Weeks"
              formControlName="weeks"
            />
          </mat-form-field>
          <button mat-raised-button (click)="addRecurringDay()">
            Add a day
          </button>

          <ng-container formArrayName="days">
            <div *ngFor="let _ of days.controls; let i = index">
              <ng-container [formGroupName]="i">
                <mat-form-field appearance="outline">
                  <mat-label>Select Weekday</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepicker"
                    formControlName="weekday"
                  />
                  <mat-hint>Weekday</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepicker> </mat-datepicker>
                </mat-form-field>
                <button mat-icon-button (click)="deleteRecurringDay(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <br />
        <div style="text-align: center">
          <button
            mat-raised-button
            type="submit"
            class="main-button"
            [disabled]="!multiDayForm.valid"
            (click)="onSubmit(multiDayForm)"
          >
            Submit
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Range">
      <form
        [formGroup]="dateRangeForm"
        class="md-form"
        style="color: black; border: 2px"
      >
        <div class="container text-center text-black pt-4 mt-4">
          <div class="row">
            <div class="col-md-6">
              <label for="startTime">Start Time</label>
              <timepicker
                id="startTime"
                type="time"
                formControlName="startTime"
              ></timepicker>
            </div>
            <div class="col-md-6">
              <label for="endTime">End Time</label>
              <timepicker
                id="endTime"
                type="time"
                formControlName="endTime"
              ></timepicker>
            </div>
          </div>

          <br />

          <mat-form-field
            appearance="outline"
            color="accent"
            backgroundColor="primary"
          >
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [formGroup]="dateRangeForm"
              [rangePicker]="picker"
              [dateFilter]="weekendFilter"
              disabled="true"
            >
              <input
                matStartDate
                formControlName="firstDate"
                placeholder="Start date"
              />
              <input
                matEndDate
                formControlName="lastDate"
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #picker
              disabled="false"
            ></mat-date-range-picker>
          </mat-form-field>
        </div>
        <br />
        <div class="text-center">
          <button
            mat-raised-button
            type="submit"
            class="main-button"
            [disabled]="!dateRangeForm.valid"
            (click)="onSubmit(dateRangeForm)"
          >
            Submit
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>
      <br>
    </mat-tab>
  </mat-tab-group>
</ng-template>
