<!-- <button
type="button"
class="view-here-btn text-lefttext-black col-lg-2 col-md-4 col-6 mb-5 mb-lg-0 mx-auto d-inline-block"
    (click)="openDialog(form)">
  <img width="auto" height="70px" src="../../../assets/images/createInterview.png">
  <h4 class="mt-4 font-weight-normal">
    Add Availability
  </h4>
  <i class="fa fa-arrow-right" style="font-size: 18px; padding-top:8px; padding-right: 7px"></i>
</button> -->

<div class="row justify-content-center">
  <button
    type="button"
    class="view-here-btn text-center"
    (click)="openDialog(dialog)"
  >
    Add Availability
    <i
      class="fa fa-arrow-right"
      style="font-size: 18px; padding-top: 8px; padding-right: 7px"
    ></i>
  </button>
</div>

<ng-template #dialog>
  <!-- <div mat-dialog-title>
    <h4 class="text-black font-weight-bold text-center">Add Availability</h4>
  </div> -->

  <!-- <h2>Range or selection?</h2>

    <div class="text-center">
    <mat-slide-toggle
      [(ngModel)]="isChecked"
      [ngModelOptions]="{ standalone: true }"
    >
      <p *ngIf="isChecked">Range</p>
      <p *ngIf="!isChecked">Individual</p>
    </mat-slide-toggle> -->
  <div class="text-center text-black">
    <div class="container-fluid py-2 intro-section-color">
      <h4 class="text-black font-weight-bold text-center">
        Add Availability</h4>
    </div>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Range">
        <form [formGroup]="dateRangeForm" class="md-form" style="color: black">
          <div class="container text-center text-black pt-4 mt-4">
            <div class="row text-center">
              <label for="startTime">Start Time</label>
              <timepicker
                id="startTime1"
                type="time"
                formControlName="startTime"
              ></timepicker>
              <br>
              <label for="endTime">End Time</label>
              <timepicker
                id="endTime1"
                type="time"
                formControlName="endTime"
              ></timepicker>
            </div>

            <br />

            <mat-form-field appearance="outline" color="accent">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input
                [formGroup]="dateRangeForm"
                [rangePicker]="picker"
                [dateFilter]="weekendFilter"
                disabled="true"
              >
                <input
                  matStartDate
                  formControlName="firstDate"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="lastDate"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker
                #picker
                disabled="false"
              ></mat-date-range-picker>
            </mat-form-field>
          </div>
          <br />
          <div class="col-12 col-md-12 mx-auto services">
            <div class="row justify-content-center">
              <button
                type="submit"
                class="view-here-btn text-lefttext-black text-center mx-auto d-inline-block"
                [disabled]="!dateRangeForm.valid"
                (click)="[closeDialog(), onSubmit(dateRangeForm)]"
              >
              Submit
              <i
                  class="fa fa-arrow-right"
                  style="font-size: 18px; padding-top: 8px; padding-right: 7px"
                ></i>
              </button>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Selection">
        <form [formGroup]="multiDayForm" class="md-form" style="color: black">
          <div class="container text-center text-black pt-4 mt-4">
            <div class="row text-center">
                <label for="startTime">Start Time</label>
                <timepicker
                  id="startTime"
                  type="time"
                  formControlName="startTime"
                ></timepicker>
                <br>
                <label for="endTime">End Time</label>
                <timepicker
                  id="endTime"
                  type="time"
                  formControlName="endTime"
                ></timepicker>
              </div>

            <mat-form-field appearance="outline">
              <mat-label>Select Occurences</mat-label>
              <mat-hint>Number</mat-hint>
              <input
                type="number"
                matInput
                name="weeks"
                placeholder="Weeks"
                formControlName="weeks"
              />
            </mat-form-field>

            <br>
            <div class="text-center">
              <button mat-raised-button (click)="addRecurringDay()">
                Add a day
              </button>
            </div>
            <br>

            <ng-container formArrayName="days">
              <div *ngFor="let _ of days.controls; let i = index">
                <ng-container [formGroupName]="i">
                  <mat-form-field appearance="outline">
                    <mat-label>Select Weekday</mat-label>
                    <input
                      matInput
                      [matDatepicker]="datepicker"
                      formControlName="weekday"
                    />
                    <mat-hint>Weekday</mat-hint>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="datepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker> </mat-datepicker>
                  </mat-form-field>
                </ng-container>
              </div>
            </ng-container>
          </div>
          <br />
          <div class="col-12 col-md-12 mx-auto services">
            <div class="row justify-content-center">
              <button
                type="submit"
                class="view-here-btn text-center d-inline-block"
                [disabled]="!multiDayForm.valid"
                (click)="[closeDialog(), onSubmit(multiDayForm)]"
              >
              Submit
              <i
                  class="fa fa-arrow-right"
                  style="font-size: 18px; padding-top: 8px; padding-right: 7px"
                ></i>
              </button>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
