<h4 class="text-center">Total Interviews: {{ interviews.length }}</h4>

  <div class="overviewContainer">
    <mat-grid-list cols="1" rowHeight="40px" width="50px">
      <mat-grid-tile style="margin-left: 0;">
        <div class="entryContainer">
          <span  class="dotGreen"></span>
            {{'Completed : ' +allFilteredArrays.get('Completed')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotGreen"></span>
          {{'Progressed : ' +allFilteredArrays.get('Progressed')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotAmber"></span>
          {{'Awaiting Completion : ' +allFilteredArrays.get('Awaiting Completion')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotAmber"></span>
          {{'Pending : ' +allFilteredArrays.get('Pending')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotRed"></span>
          {{'Did Not Progress : ' +allFilteredArrays.get('Did Not Progress')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotGrey"></span>
          {{'Candidate No Show : ' +allFilteredArrays.get('Candidate No Show')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotGrey"></span>
          {{'Panel No Show : ' +allFilteredArrays.get('Panel No Show')?.length}}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

