    <mat-panel-title>
      <h4 class="text-center">Total Interviews: {{ interviews.length }}</h4>
    </mat-panel-title>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let filteredList of allFilteredArrays | keyvalue">
      <div *ngIf="filteredList.key == 'Completed'">
        <span class="dotGreen"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>
      <div *ngIf="filteredList.key == 'Progressed'">
        <span class="dotGreen"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>
      <div *ngIf="filteredList.key == 'Awaiting Completion'">
        <span class="dotAmber" or ></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>
      <div *ngIf="filteredList.key == 'Pending'">
        <span class="dotAmber"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>
      
      <div *ngIf="filteredList.key == 'Did Not Progress'">
        <span class="dotRed"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>
      <div *ngIf="filteredList.key == 'Candidate No Show'">
        <span class="dotGrey"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>

      <div *ngIf="filteredList.key == 'Panel No Show'">
        <span class="dotGrey"></span>
        {{ filteredList.key }} : {{ filteredList.value.length }}
      </div>


    </mat-list-item>
  </mat-list>
