.dotGreen {
  height: 10px;
  width: 10px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  display: inline-block;
}

.dotAmber {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.dotGrey {
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dotRed {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

.overviewContainer {
  width: 200px;
}

.entryContainer {
  margin-left: 0;
  margin-right: auto;
  display: table-row;
  font-size: 120%;
}