
<div id="interviewOverviewRec" *ngIf="isRecruiter">
  <h4 class="text-center">Total Interviews: {{ interviews.length }}</h4>
  <div class="overviewContainer">
    <mat-grid-list cols="1" rowHeight="40px" width="50px">
      <mat-grid-tile style="margin-left: 0;">
        <div class="entryContainer">
          <span  class="dotGreen"></span>
            {{'Completed : ' +allFilteredArrays.get('Completed')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotGreen"></span>
          {{'Progressed : ' +allFilteredArrays.get('Progressed')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotAmber"></span>
          {{'Awaiting Completion : ' +allFilteredArrays.get('Awaiting Completion')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotOrange"></span>
          {{'Stage1 : ' +allFilteredArrays.get('Stage1')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotYellow"></span>
          {{'Stage2 : ' +allFilteredArrays.get('Stage2')?.length}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="entryContainer">
          <span  class="dotLime"></span>
          {{'Stage3 : ' +allFilteredArrays.get('Stage3')?.length}}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div class="interviewOverviewUser" *ngIf="isUser">
  <h4 class="text-center">My Interviews: {{ interviewEvents.length }}</h4>
  <table mat-table [dataSource]="aTable" >
    <ng-container matColumnDef="ID" >
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell style="border-left: 1px solid rgba(175, 175, 175, 0.5); padding-left: 0;" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef > Date. </th>
      <td mat-cell *matCellDef="let element"> {{element.start | DateToShortDate}} </td>
    </ng-container>
    <ng-container matColumnDef="Time" >
      <th mat-header-cell *matHeaderCellDef> Time. </th>
      <td mat-cell *matCellDef="let element"> {{element.start | DateToTimePipe }} - {{element.end | DateToTimePipe}} </td>
    </ng-container>
    <ng-container matColumnDef="Status" >
      <th mat-header-cell *matHeaderCellDef > Stage. </th>
      <td mat-cell *matCellDef="let element" style="padding-right: 0;"> {{element.meta.interviewStatus }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
