<div class="row justify-content-center">
  <button
    type="button"
    class="view-here-btn text-center"
    (click)="openDialog(form)"
  >
    Add Skill
    <i
      class="fa fa-arrow-right"
      style="font-size: 18px; padding-top: 8px; padding-right: 7px"
    ></i>
  </button>
</div>

<ng-template #form>
  <form
    [formGroup]="addSkillsForm"
    (ngSubmit)="onSubmit(addSkillsForm)"
    class="md-form"
    style="color: black"
  >
    <div class="container text-center text-black">
      <div class="container-fluid py-2 intro-section-color">
        <h3 class="text-black font-weight-bold text-center">Add Skill</h3>
      </div>
    </div>
    <div class="row text-center">
      <div>
        <label for="skill">Skill: </label>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Select Skill</mat-label>
          <mat-select formControlName="skill" name="skill">
            <mat-option
              *ngFor="let name of formOptions.skillNames"
              [value]="name"
            >
              {{ name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <label for="level">Level: </label>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Select Level</mat-label>
          <mat-select formControlName="level" name="level">
            <mat-option
              *ngFor="let level of formOptions.skillLevels"
              [value]="level"
            >
              {{ level }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br />
    <div class="col-12 col-md-12 mx-auto services">
      <div class="row justify-content-center">
        <button
          class="view-here-btn text-center d-inline-block"
          type="submit"
          id="submit"
          [disabled]="!addSkillsForm.valid"
          (click)="closeDialog()"
        >
          Submit
          <i
            class="fa fa-arrow-right"
            style="font-size: 18px; padding-top: 8px; padding-right: 7px"
          ></i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
