<button mat-raised-button class="main-button" (click)="openModal(form)">
  Create Interview <mat-icon>create</mat-icon>
</button>

<ng-template #form>
  <div id="find" *ngIf="!viewCreate">
    <form
      [formGroup]="findInterviewsForm"
      (ngSubmit)="findInterview(findInterviewsForm)"
      class="md-form"
      style="color: black"
    >
      <div class="text-center text-black">
        <div style="width: 100%">
          <div class="container-fluid py-2 intro-section-color">
            <h4 class="text-black font-weight-bold text-center">
              Find Interviewers
            </h4>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <label for="startTime">Start Time</label>
            <timepicker
              id="startTime1"
              type="time"
              formControlName="startTime"
            ></timepicker>
          </div>
          <div class="col-md-4">
            <label for="endTime">End Time</label>
            <timepicker
              id="endTime"
              type="time"
              formControlName="endTime"
            ></timepicker>
          </div>
        </div>
        <br />
        <div class="container-fluid">
          <h5>Date(s) required</h5>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [formGroup]="findInterviewsForm"
              [rangePicker]="picker"
              disabled="true"
            >
              <input
                matStartDate
                formControlName="firstDate"
                placeholder="Start date"
              />
              <input
                matEndDate
                formControlName="lastDate"
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #picker
              disabled="false"
            ></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div>
          <h5>Stage Applicant Can Take</h5>
          <mat-form-field appearance="fill">
            <mat-label>Stage</mat-label>
            <mat-select 
              formControlName="stageForSearch"
              name="stageForSearch"
            >
              <mat-option *ngFor="let stage of stages" [value]="stage">
                {{stage}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div formArrayName="skills">
          <h5>Skill required</h5>
          <mat-form-field appearance="outline">
            <mat-label>Skill</mat-label>
            <mat-select formControlName="skillName" name="skillName">
              <mat-option
                *ngFor="let skillName of skillOptions.skillNames"
                [value]="skillName"
              >
                {{ skillName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select formControlName="skillLevel" name="skillLevel">
              <mat-option
                *ngFor="let skillLevel of skillOptions.skillLevels"
                [value]="skillLevel"
              >
                {{ skillLevel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
      </div>

      <div class="col-12 col-md-12 mx-auto services">
        <div class="row justify-content-center">
          <button
            mat-raised-button
            type="submit"
            class="main-button"
            [disabled]="!findInterviewsForm.valid"
          >
            Find Interview
            <mat-icon *ngIf="!findInterviewsForm.valid"
              >hourglass_empty</mat-icon
            >
            <mat-icon *ngIf="findInterviewsForm.valid">search</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div id="confirm" *ngIf="viewCreate">
    <form
      [formGroup]="createInterviewForm"
      (ngSubmit)="submitInterview(createInterviewForm)"
      class="md-form"
      style="color: black"
    >
      <h3 mat-dialog-title>
        <strong>Create Interview</strong>
      </h3>
      <mat-dialog-content>
        <div class="container-padded">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Select an interview slot</mat-label>
            <mat-select
              formControlName="interviewSelected"
              name="interviewSelected"
              [(ngModel)]="selectedInterview"
              (ngModelChange)='changeInterviewSelected(selectedInterview)'
            >
              <mat-option
                id="slotSelected"
                *ngFor="let interview of availableInterviews;"
                [value]="interview"
              >
                On {{ interview.date }} between {{ interview.startTime }} ->
                {{ interview.endTime }}, Interview Panel:
                {{ (interview.interviewer)}}. {{interview.stage}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>schedule</mat-icon>
                Specify a time within the slot?
              </mat-panel-title>
              <mat-panel-description>
                If left blank, the earliest time will be auto-selected.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row text-center">
              <label for="startTime">Start Time</label>
              <timepicker
                [min]="this.startTimeSelected"
                [max]="this.endTimeSelected"
                id="startTime1"
                type="time"
                formControlName="startTime"
              ></timepicker>
            </div>
          </mat-expansion-panel>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Stage</mat-label>
              <mat-select 
                formControlName="stageForInterview"
                name="stageForInterview"
              >
                <mat-option *ngFor="let stage of stages" [value]="stage">
                  {{stage}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br />
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Additional Information</mat-label>
            <textarea
              matInput
              formControlName="additionalInformation"
              name="additionalInformation"
            >
            </textarea>
            <mat-error *ngIf="createInterviewForm.hasError('maxLength')">
              Limited to 255 characters
            </mat-error>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button
          mat-raised-button
          class="main-button"
          type="button"
          (click)="switchView()"
        >
          <mat-icon>undo</mat-icon>
          Reset Criteria
        </button>
        <button
          mat-raised-button
          type="submit"
          [disabled]="!createInterviewForm.valid"
          (click)="closeModal()"
          class="view-here-btn text-center d-inline-block"
        >
          Create Interview
          <mat-icon *ngIf="!createInterviewForm.valid"
            >hourglass_empty</mat-icon
          >
          <mat-icon *ngIf="createInterviewForm.valid">add_task</mat-icon>
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-template>
