.bg-grey {
  background-color: #D8D8D8;
}
.bg-grey {
  background-color: #D8D8D8;
}

.modal-org {
  color: #000000;
  background-color: #ff9800;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.padded {
  padding: 25px;
}

.btn-org {
  color: #000000;
  background-color: #ff9800;
}

.logo {
  font-size: 200px;
}

.logo-med {
  font-size: 80px;
}

.logo-small {
  font-size: 40px;
}

.container-fluid {
	background-size: cover;
	background-position: center;
}

#startTime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#startTime1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#endTime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#dateRange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.modal-org {
  color: #000000;
  background-color: #ff9800;
}

.padded {
  padding: 25px;
}

.btn-org {
  color: #000000;
  background-color: #ff9800;
}

.logo {
  font-size: 200px;
}

.logo-med {
  font-size: 80px;
}

.logo-small {
  font-size: 40px;
}

.logo-mini {
  font-size: 20px;
}

::ng-deep.bs-datepicker-theming {
  background-color: #ff9800;

}

#startTime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#endTime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.full-width {
  width: 90%;
}

