<button class="big-tile" (click)="openModal(form)">
  Create Interview <mat-icon>add_circle</mat-icon>
</button>

<!-- <div class="row justify-content-center">
  <button
    type="button"
    class="view-here-btn text-center"
    (click)="openModal(form)"
  >
    Create Interview
    <i
      class="fa fa-arrow-right"
      style="font-size: 18px; padding-top: 8px; padding-right: 7px"
    ></i>
  </button>
</div> -->

<ng-template #form>
  <div id="find" style="display: block">
    <form
      [formGroup]="findInterviewsForm"
      (ngSubmit)="findInterview(findInterviewsForm)"
      class="md-form"
      style="color: black"
    >

      <div class="text-center text-black">
        <div class="container-fluid py-2 intro-section-color">
          <h4 class="text-black font-weight-bold text-center">
            Create Interview
          </h4>
        </div>
        <div class="container text-center text-black pt-4 mt-4">
          <div class="row text-center">
            <label for="startTime">Start Time</label>
            <timepicker
              id="startTime1"
              type="time"
              formControlName="startTime"
            ></timepicker>
            <br>
            <label for="endTime">End Time</label>
            <timepicker
              id="endTime1"
              type="time"
              formControlName="endTime"
            ></timepicker>
          </div>
          <br />
          <div class="container-fluid">
            <h2>Date(s) required</h2>
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input
                [formGroup]="findInterviewsForm"
                [rangePicker]="picker"
                disabled="true"
              >
                <input
                  matStartDate
                  formControlName="firstDate"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="lastDate"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker
                #picker
                disabled="false"
              ></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div formArrayName="skills">
            <h2>Skill required</h2>
            <mat-form-field appearance="outline">
              <mat-label>Skill</mat-label>
              <mat-select formControlName="skillName" name="skillName">
                <mat-option
                  *ngFor="let skillName of skillOptions.skillNames"
                  [value]="skillName"
                >
                  {{ skillName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Level</mat-label>
              <mat-select formControlName="skillLevel" name="skillLevel">
                <mat-option
                  *ngFor="let skillLevel of skillOptions.skillLevels"
                  [value]="skillLevel"
                >
                  {{ skillLevel }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br />
        </div>
        <div class="col-12 col-md-12 mx-auto services">
          <div class="row justify-content-center">
            <button
              type="submit"
              class="view-here-btn text-center d-inline-block"
              [disabled]="!findInterviewsForm.valid"
            >
              Find Interview
              <i
                class="fa fa-arrow-right"
                style="font-size: 18px; padding-top: 8px; padding-right: 7px"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="confirm" style="display: none">
    <form
      [formGroup]="createInterviewForm"
      (ngSubmit)="submitInterview(createInterviewForm)"
      class="md-form"
      style="color: black"
    >
    <div class="container-fluid py-2 intro-section-color">
      <h4 class="text-black font-weight-bold text-center">
        Create Interview
      </h4>
    </div>
      <div>
        <div class="container-padded">
          <h2>Select an interview slot</h2>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Slot</mat-label>
            <mat-select
              formControlName="interviewSelected"
              name="interviewSelected"
            >
              <mat-option
                *ngFor="let interview of availableInterviews"
                [value]="interview"
              >
                On {{ interview.date }} between {{ interview.startTime }} ->
                {{ interview.endTime }}, this is with:
                {{ interview.interviewer }}.
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>schedule</mat-icon>
                Specify a time within the slot?
              </mat-panel-title>
              <mat-panel-description>
                If left blank, the earliest time will be auto-selected.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row text-center">
            <label for="startTime">Start Time</label>
            <timepicker
              id="startTime1"
              type="time"
              formControlName="startTime"
            ></timepicker>
          </div>
          </mat-expansion-panel>
          <br />
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Additional Information</mat-label>
            <textarea
              matInput
              formControlName="additionalInformation"
              name="additionalInformation"
            >
            </textarea>
            <mat-error *ngIf="createInterviewForm.hasError('maxLength')">
              Limited to 255 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12 col-md-12 mx-auto services">
          <div class="row text-center">
            <button
              type="button"
              (click)="switchView('')"
              class="view-here-btn text-lefttext-black text-center mx-auto"
            >
              <i
                class="fa fa-arrow-left"
                style="font-size: 18px; padding-top: 8px; padding-right: 7px"
              ></i>
              Reset Criteria
            </button>
            <button
              type="submit"
              [disabled]="!createInterviewForm.valid"
              (click)="closeModal()"
              class="view-here-btn text-lefttext-black text-center mx-auto"
            >
              Create Interview
              <i
                class="fa fa-check"
                style="font-size: 18px; padding-top: 8px; padding-right: 7px"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
