<button type="button" class="btn btn-org" (click)="openModal(form)">Add Skill</button>

<ng-template #form>
<form  
  [formGroup]="addSkillsForm"  
  (ngSubmit)="onSubmit(addSkillsForm)" 
  class="md-form" 
  style="color: black;"
>

  <div class="modal-header header-org">
    <h5>
      <strong>Add Skill</strong>
    </h5>
  </div>

  <div class="card" style="size: 1000px;">
    <div>
      <label for="skill">Skill: </label>
      <br>
      <select id="skill" formControlName="skill">
        <option value="">Please select skill</option>
        <option *ngFor="let skill of skillNamesAvailable" [ngValue]="skill">
          {{ skill }}
        </option>
      </select>
      <br>
      <label for="level">Level: </label>
      <br>
      <select id="level" formControlName="level">
        <option value="">Please select level</option>
        <option *ngFor="let level of levels" [ngValue]="level">
          {{ level }}
        </option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button 
    class="btn btn-org"
    type="submit" 
    id="submit"
    [disabled]="!addSkillsForm.valid"
    (click)="this.modalRef?.hide()"
  >
      Submit
  </button>
  </div>
</form>

</ng-template>
