<button type="button" class="btn btn-primary" (click)="openModal(template)">Modal</button>
<button type="button" class="btn btn-primary" (click)="openModal(form)">Form</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
<ng-template #form>
  <form 
  [formGroup]="createInterviewForm" 
  (ngSubmit)="onSubmit(createInterviewForm)"
  class="md-form" 
  style="color: slateblue;"
>

  <h5>
    <strong>Create Interview</strong>
  </h5>

  <div>
    <label for="start">Start Time</label>
    <input id="start" type='time' formControlName="start">

    <label for="end">End Time</label>
    <input id="end" type='time' formControlName="end">
  </div>
  <br>
  <div>
    <label for="firstDate">First Date</label>
    <input id="firstDate" type='date' formControlName="firstDate">

    <label for="lastDate">Last Date</label>
    <input id="lastDate" type='date' formControlName="lastDate">
  </div>

  <button class="submit" (click)="this.modalRef?.hide()">Submit</button>

</form>
</ng-template>