<body (event)="setFormData($event)">

<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Add Availability</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">

    <form [formGroup]="availabilityForm" (ngSubmit)="onSubmit()" class="md-form" style="color: #757575;">
      <div formGroupName="timeSlot">
        <h6>Time Slot</h6>
    
        <label for="startTime">Start Time</label>
        <input id="start-time" type='time' formControlName="startTime">
    
        <label for="endTime">End Time</label>
        <input id="end-time" type='time' formControlName="endTime">
      </div>
      <div>
        <h6>Date</h6> 
    
        <label for="date">Date</label>
        <input id="date" type='date' formControlName="date">
      </div>

      <button
       mdbBtn color="primary" type="submit" [disabled]="!availabilityForm.valid">Save</button>
    </form>
  </div>
</div>
</body>

<!-- <form [formGroup]="availabilityForm" (ngSubmit)="onSubmit()">
  <div formGroupName="timeSlot">
    <h6>Time Slot</h6>

    <label for="startTime">Start Time</label>
    <input id="start-time" type='time' formControlName="startTime">

    <label for="endTime">End Time</label>
    <input id="end-time" type='time' formControlName="endTime">
  </div>
  <div>
    <h6>Date</h6> 

    <label for="date">Date</label>
    <input id="date" type='date' formControlName="date">
  </div>
  <button class="btn btn-danger" type="submit" [disabled]="!availabilityForm.valid">Submit</button>
</form> -->
