<button type="button" class="btn btn-org btn-block" (click)="openModal(form)">
  <h2>Create Interview  <i class="bi bi-calendar-plus logo-med"></i></h2>
</button>

<ng-template  #form>
<form 
  [formGroup]="createInterviewForm" 
  (ngSubmit)="onSubmit(createInterviewForm)"
  class="md-form" 
  style="color: black;"
>
  
  <div class="modal-header modal-org" >
    <h3>
      <strong>Create Interview</strong>
    </h3>
  </div>
    
  <div class="card padded" >
    <div class="row">
      <div class="col-sm-3">
        <label for="startTime">Start Time</label>
        <timepicker id="startTime" formControlName="startTime"></timepicker>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <label for="endTime">End Time</label>
        <timepicker id="endTime" formControlName="endTime"></timepicker>
      </div>
    </div>
    <br>
    <div>
      <label for="firstDate">First Date</label>
      <input id="firstDate" type='datetime' formControlName="firstDate" bsDatepicker>
      <br><br>
      <label for="lastDate">Last Date</label>
      <input id="lastDate" type='datetime' formControlName="lastDate" bsDatepicker>
    </div>
  
    <div formArrayName="skills">
      <h2>Skills</h2>

          <select id="skillType" formControlName="skillType">
            <option value="">Which skill is needed?</option>
            <option *ngFor="let skillType of skillTypes" [ngValue]="skillType">
              {{ skillType }}
            </option>
          </select>         
          <select id="skillLevel" formControlName="skillLevel">
            <option value="">Which level is needed?</option>
            <option *ngFor="let skillLevel of skillLevels" [ngValue]="skillLevel">
              {{ skillLevel }}
            </option>
          </select>  


      <br>
      <button type="button" class="btn btn-org" (click)="addSkill()">+ Add another skill</button>
    </div>
  </div>

  <div class="modal-footer bg-grey">
    <create-interview></create-interview>
    <!-- <button type="submit" class="btn btn-org" [disabled]="!createInterviewForm.valid" (click)="this.modalRef?.hide()">Submit</button> -->
  </div>

</form>

</ng-template>

