<button type="button" class="btn btn-org btn-block" (click)="openModal(form)">
  <h2>Find Interview  <i class="bi bi-calendar-plus logo-med"></i></h2>
</button>

<ng-template  #form>

  <div class="modal-header modal-org" >
    <h3>
      <strong>Find Interview</strong>
    </h3>
  </div>

<div id="find" style="display: block;">
  <form 
  [formGroup]="findInterviewsForm" 
  (ngSubmit)="findInterview(findInterviewsForm)"
  class="md-form" 
  style="color: black;"
>
  

    
  <div class="card padded" >
    <div class="row">
      <div class="col-sm-3">
        <label for="startTime">Start Time</label>
        <timepicker id="startTime" formControlName="startTime"></timepicker>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <label for="endTime">End Time</label>
        <timepicker id="endTime" formControlName="endTime"></timepicker>
      </div>
    </div>
    <br>
    <div>
      <label for="firstDate">First Date</label>
      <input id="firstDate" type='datetime' formControlName="firstDate" bsDatepicker>
      <br><br>
      <label for="lastDate">Last Date</label>
      <input id="lastDate" type='datetime' formControlName="lastDate" bsDatepicker>
    </div>
  
    <div formArrayName="skills">
      <h2>Skills</h2>

      <select id="skillType" formControlName="skillType">
        <option value="">Which skill is needed?</option>
        <option *ngFor="let skillType of skillTypes" [ngValue]="skillType">
          {{ skillType }}
        </option>
      </select>         
      <select id="skillLevel" formControlName="skillLevel">
        <option value="">Which level is needed?</option>
        <option *ngFor="let skillLevel of skillLevels" [ngValue]="skillLevel">
          {{ skillLevel }}
        </option>
      </select>  
    </div>
  </div>

</form>
</div>

<div class="modal-footer bg-grey">
  <!-- <create-interview></create-interview> -->
  <button type="submit" class="btn btn-org" [disabled]="!findInterviewsForm.valid" (click)="buttonClicked()">Find Interviews</button>
</div>

<div id="confirm" style="display: none;">
  <form 
  [formGroup]="createInterviewForm"
  (ngSubmit)="submitInterview(createInterviewForm)" 
  class="md-form" 
  style="color: black;"
>

  <div class="modal-header modal-org" >
    <h3>
      <strong>Create Interview</strong>
    </h3>
  </div>

  <div class="card padded">
    <div class="row">
      <select id="interviewSelected" formControlName="interviewSelected">
        <option value="">Which interview slot?</option>
        <option *ngFor="let interview of availableInterviews" [ngValue]="interview">
          {{ interview }}
        </option>
      </select>  
    </div>       
    <br>
    <div class="row">
      <!-- <select id="applicantSelected" formControlName="applicantSelected">
        <option value="">Which applicant is needed?</option>
        <option *ngFor="let applicant of availableApplicants" [ngValue]="applicant">
          {{ applicant }}
        </option>
      </select> -->
      <textarea placeholder="Additional information" formControlName="additionalInformation" ></textarea>

    </div>
  </div> 
  <div class="container-padded">

  </div>
  <div class="modal-footer bg-grey">
    <button type="submit" [disabled]="!createInterviewForm.valid" (click)="this.modalRef?.hide()" class="btn btn-org">
      Create Interview<i class="bi bi-calendar-plus logo-mini"></i>
    </button>
  </div>
</form>
</div>

</ng-template>

