<div class="container-fluid section first-section-color">
  <!-- <h4 class="text-black font-weight-bold text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
      <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
    </svg>
    Under Construction
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
      <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
    </svg>
  </h4>
  <div class="col-1 mt-3 mx-auto orange-border"></div>
  <br> -->
  <!-- <button mdbBtn color="primary" (click)="checkConnection()">Check Connection</button>
  <button mdbBtn color="primary" (click)="populateCalendar()">Populate Calendar</button>
  <button mdbBtn color="primary" (click)="populateViaRecruiter()">Populate Recruiter Calendar</button>
  <button mdbBtn color="primary" (click)="getUser()">get user data</button
  <button mdbBtn color="primary" (click)="getInterviewsByRec()">get rec ints</button>
  <button mdbBtn color="primary" (click)="getInterviewsByInter()">get inter ints</button>
  <button mdbBtn color="primary" (click)="getApplicants()">get appls</button>
  <button mdbBtn color="primary" (click)="getSkillsforUser()">getSkillsforUSer</button>
  <button mdbBtn color="primary" (click)="buttonRefresh()">refresh</button>
  <div class="container-fluid p-0 banner-img text-white"> -->
  <div class="row">
    <availability-form></availability-form>
    <skills-form></skills-form>
  </div>
  <!-- </div> -->
</div>

<div class="container-fluid py-5 intro-section-color">
  <h2 class="text-black font-weight-bold text-center">
    Calendar
  </h2>
  <div class="col-1 mt-3 mx-auto orange-border"></div>
</div>
<br>
<div>
  <div class="row" style="width:100%">
    <div class=" col-sm">
      <div class="btn-group pl-3">
        <div class="btn btn-warning" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <h6 class="text-center">Previous</h6>
        </div>
        <div class="btn btn-outline-warning" mwlCalendarToday [(viewDate)]="viewDate">
          <h6 class="text-black text-center">Today</h6>
        </div>
        <div class="btn btn-warning" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <h6 class="text-center">Next</h6>
        </div>
      </div>
    </div>
    <div class=" text-center col-sm">
      <h3 class="text-black font-weight-bold text-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class=" col-sm" style="position:relative; text-align: end;">
      <div class="btn-group">
        <div class="btn btn-warning" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          <h6 class="text-center">Month</h6>
        </div>
        <div class="btn btn-outline-warning" (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          <h6 class="text-black text-center">Week</h6>
        </div>
        <div class="btn btn-warning" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          <h6 class="text-center">Day</h6>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh">
    </mwl-calendar-day-view>
  </div>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<!-- <div class="container-fluid py-5 intro-section-color">
  <h2 class="text-black font-weight-bold text-center">
       Edit Events
  </h2>
  <div class="col-1 mt-3 mx-auto orange-border"></div>
<div>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="addEvent()">
          Add new
        </button>
        </div>
      </div>
  </div>
</div>
<br> -->

<!-- <h3>
  Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3> -->

<!-- <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <ng-template #eventClickedContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template> -->

<ng-template #dayContent>
  <view-availability [availability]="dayAvailability" [interviews]="dayInterviews"></view-availability>
</ng-template>