<div class="position-listing-main">
    <form [formGroup]='filterForm'>
        <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md-3">
                <span class="total-text">Total Positions </span>
                <span class="total-value">({{total}})</span>
            </div>
                <div class="col-md-3" style="padding: 0px; width: 100px; margin-left: 54px;">
                    <select class="form-select form-select-sm float-end" aria-label=".form-select-sm example" (change)="applyLocationFilter()"
                        formControlName='location'>
                        <option value="{{location.key}}" *ngFor="let location of Locations">{{location.value}}</option>      
                    </select>
                </div>
                <div class="col-md-4" style="width: 182px;">
                    <input type="text" class="form-control quick-filter" placeholder="Search Anything.." (input)="applyQuickFilter()" formControlName='quickFilter'> 
                    <i class="fa fa-times remove-search" *ngIf="filterForm.value.quickFilter.length > 0" (click)="removeFilter()"></i>
                </div>
            <div class="col-md-2" style="padding: 0px; width: 111px; padding-right: 10px;">
                <button class="btn primary-btn float-end" (click)="openAddPosition()"><i class="fa fa-plus"></i> Add Position</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <app-grid [colDef]="gridColDef" [rowData]="rowData$" [config]="gridConfig" (select)="onGridRowSelected($event)"></app-grid>
        </div>
    </div>
</div>