<!-- <h2>Dashboard</h2>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3>Buttons here</h3>
      <button type="button" class="btn btn-lg" (click)="redirect('calendar'); ">
        Calendar
      </button>
      <button type="button" class="btn btn-lg" (click)="getMockdata()">
        Get Data
      </button>
      <button type="button" class="btn btn-lg" (click)="printMockData()">
        Log Data
      </button>
      <create-interview (formSubmitted)="onSubmit($event)"></create-interview>
    </div>
    <div class="col-sm-4">
      <h3>Interviews</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Maybe some other Data</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div> -->

<div class="jumbotron">
  <h1>Recruiter Dashboard</h1>
  <!-- <p>Add some description here</p> -->
</div>

<div class="container-fluid text-center">
  <!-- <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br> -->
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-org btn-block" (click)="redirect('calendar'); ">
        <i class="glyphicon glyphicon-calendar logo-med"></i><h2>Calendar</h2>
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-block btn-org" (click)="getMockdata()">
        <i class="glyphicon glyphicon-download logo-small"></i><h4>Get Data</h4>
      </button>
      <button type="button" class="btn btn-block btn-org" (click)="printMockData()">
        <i class="glyphicon glyphicon-check logo-small"></i><h4>Log Data</h4>
      </button>
    </div>
    <div class="col-sm-4">
      <create-interview (formSubmitted)="onSubmit($event)"></create-interview>
    </div>
    </div>
    <br><br>
  <!-- <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div> -->
</div>

<!-- <div class="container-fluid">
  <h2>About Company Page</h2>
  <h4>Lorem ipsum..</h4>
  <p>Lorem ipsum..</p>
  <button class="btn btn-default btn-lg">Get in Touch</button>
</div>

<div class="container-fluid bg-grey">
  <h2>Our Values</h2>
  <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
  <p><strong>VISION:</strong> Our vision Lorem ipsum..
</div> -->