<div class="jumbotron">
  <h1>Recruiter Dashboard</h1>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-org btn-block" (click)="redirect('calendar'); ">
        <h2>Calendar  <i class="bi bi-calendar logo-med"></i></h2>
      </button>
    </div>
    <div class="col-sm-4">
      <add-applicant></add-applicant>
    </div>
    <div class="col-sm-4">
      <find-interview></find-interview>
    </div>
  </div>
</div>
<div class="panel text-center">
  <h1>HI</h1>
</div>

  
  
