<mat-card class="side-card">
  <div class="text-center side-padded">
    <availability-form *ngIf="isUser"></availability-form>
  </div>

  <div class="text-center side-padded">
    <skills-form *ngIf="isUser"></skills-form>
  </div>

  <div class="text-center side-padded">
    <create-interview *ngIf="isRecruiter"></create-interview>
  </div>

  <div class="text-center side-padded">
    <a *ngIf="isRecruiter" routerLink="all-interviews">
      <button mat-raised-button class="main-button">
        Interviews
        <mat-icon class="tile-icon" style="position: sticky">list</mat-icon>
      </button>
    </a>
  </div>

  <interview-overview *ngIf="isRecruiter"></interview-overview>
</mat-card>
