<interview-overview *ngIf="isRecruiter"></interview-overview>
<!-- <a routerLink="/dashboard/all-interviews">
  <button class="big-tile text-center">
    <span class="big-btn">
      Interviews
      <mat-icon class="tile-icon" style="position: sticky">list</mat-icon></span
    >
  </button>
</a> -->

<a *ngIf="isRecruiter" routerLink="all-interviews" mat-stroked-button>
  <span class="big-btn">
    Interviews
    <mat-icon class="tile-icon" style="position: sticky">list</mat-icon></span
  >
</a>

<create-interview *ngIf="isRecruiter"></create-interview>

<availability-form *ngIf="isUser"></availability-form>

<skills-form *ngIf="isUser"></skills-form>
