<interview-overview></interview-overview>
<!-- <a routerLink="/dashboard/all-interviews">
  <button class="big-tile text-center">
    <span class="big-btn">
      Interviews
      <mat-icon class="tile-icon" style="position: sticky">list</mat-icon></span
    >
  </button>
</a> -->
<a routerLink="dashboard/all-interviews">
  <button mat-stroked-button style="width: 100%;" >
    <span class="big-btn">
      Interviews
      <mat-icon class="tile-icon" style="position: sticky">list</mat-icon></span
    >
  </button>
</a>
