<mat-toolbar style="width: 100%">
  <button
    *ngIf="loggedIn"
    mat-icon-button
    color="primary"
    backgroundColor="accent"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <a
      class="nav-link"
      routerLink="home"
      id="industriesDropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg"
        class="navbar-image"
        alt="Accolite Digital Logo"
      /> </a
  ></span>
  <span class="spacer"></span>

  <div *ngIf="loggedIn && isUser">
    <skills-form></skills-form>
  </div>
  <span class="spacer"></span>
  <div *ngIf="loggedIn && isUser">
    <availability-form></availability-form>
  </div>
  <span class="spacer"></span>
  <div *ngIf="loggedIn && isRec">
    <create-interview></create-interview>
  </div>
  <span class="spacer"></span>

  <button
    mat-button
    class="icon"
    aria-label="Example icon-button with share icon"
    [hidden]="!loggedIn"
    (click)="logout()"
  >
    Logout
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side">
    <sidenav [userRoles]="userRoles" ></sidenav>
  </mat-sidenav>
  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
