<div class="candidate-audittrail-wrapper">
    <div class="modal-header">
        <h6 class="modal-title pull-left">Candidate Audit Trail</h6>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row" style="margin-bottom: 15px;" *ngIf="candidateName !== ''">
                <div class="col-md-3" style="font-size: 10px;">
                    Candidate Name
                </div>
                <div class="col-md-9">
                    <app-pill [value]="candidateName"></app-pill>
                </div>
            </div>
            <div class="row" *ngIf="!isError">
                <div class="col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <th>Position ID</th>
                                <th>Interview Date</th>
                                <th style="width: 300px;">Comments</th>
                                <th>Recruiter</th>
                                <th>Interaction Status</th>
                                <th>Onboarding Status</th>
                                <th>Last Updated on</th>
                                <th>Last Updated By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trail of auditTrailData">
                                <td>
                                    {{trail.positionId}}
                                </td>
                                <td>{{trail.interviewDate}}</td>
                                <td>{{trail.comments}}</td>
                                <td>{{trail.recruiterName}}</td>
                                <td>
                                    <app-pill [value]="trail.clientInteractionStatus" [wrapper]="getWrapper(trail.clientInteractionStatus)" [type]='getStatus(trail.clientInteractionStatus)'></app-pill>
                                </td>
                                <td>{{trail.clientOnboardingStatus}}</td>
                                <td>{{trail.updateOn}}</td>
                                <td>{{trail.updatedBy}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" *ngIf="isError">
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-danger" role="alert" style="font-size: 12px; text-align: center;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>